.loader1, .loader2{
    width:80px;
    height: 80px;
    background-color: rgba(85, 152, 108, 0);
    border: 5px solid rgb(33, 153, 217);
    border-top: 5px solid rgb(67, 141, 87);
    border-bottom: 5px solid rgb(54, 112, 83);
   border-radius: 50%;
   stroke-width: 5px;
   stroke-dasharray: 10px;
   -webkit-text-stroke-color: purple;
    animation: spin 3s linear .2s infinite forwards ;
}
.loader2{
    background-color: black;
    border: 5px solid red;
    border-top: 5px solid white;
}
.loader3{
    width: 80px;
    height: 80px;
    border-top: 5px solid green;
    border-radius: 50%;
    animation: spin 3s linear .2s infinite forwards ;

}
.loader4{
    width: 80px;
    height: 80px;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    border-radius: 50%;
    animation: spin 3s linear .2s infinite forwards ;
}

.loader4{
    width: 80px;
    height: 80px;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    border-left: 5px solid green;
    border-radius: 50%;
    animation: spin 3s linear .2s infinite forwards ;
}
.loader5{
    width: 120px;
    height: 60px;
    background-image: repeating-linear-gradient(45deg, yellow , red );
    animation: move 3s linear .2s infinite forwards ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loader6{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 100px;
    gap: 8px;
    /* animation: power 3s linear .2s infinite forwards ; */


}
.item1{
    animation: power 3s infinite;

}
/* .item2{
    animation: power 3s linear .4s infinite forwards ;

}
.item3{
    animation: power 3s linear .6s infinite forwards ;

}
.item4{
    animation: power 3s linear .8s infinite forwards ;

}
.item5{
    animation: power 3s linear .10s infinite forwards ;

} */

.item{
    height: 100%;
    flex-grow: 1;
    border-radius: 3px;
    background-color: rgb(190, 102, 51);
    /* animation: power 3s linear .8s infinite forwards ; */

}
@keyframes power {
   0%{
    display:none;
    /* visibility: visible;
    height: 60px; */
   }
   80%{
    background-color: red;
    display: block;
    /* visibility: hidden; */
    /* height: 100%; */
   }
   100%{ 
    display:none;
    /* visibility: visible;
    h
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes move{
    0%{
        /* transform: translateX(-200px); */
        background-position-x: -200px;
    }
    100%{
        /* transform: translateX(200px); */
        background-position-x: 100px;

    }
}