.container{
    position:relative;
    width: 100px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
    background-color: black;
    display: grid;
    place-items: center;
    margin: 20px;
}
span{
    color: wheat;
    text-align: center;
    z-index: 1;
    padding: 10px;
}
.container::before{
    content:'' ;
    width: 50px;
    height: 220px;
    left: 25px;
    position: absolute;
    background: linear-gradient(rgb(87, 87, 237),rgb(81, 219, 81));
    animation:spin 5s linear infinite;
}
.container::after{
    content: '';
    position: absolute;
    background-color: black;
    inset: 4px;
    /* width: 60px;
    height: 100px; */
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

