
*{
    font-family: Arial, Helvetica, sans-serif;

}
form{
    display: grid;
   align-items: center;
   justify-content: center;
}
.login_form{
    width: max-content;
    padding: 40px;
    height: max-content;
   display: grid;
   align-items: center;
   justify-content: center;
   background:rgba(79, 141, 79,0.1);
   border-radius: 10px;
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
h1{
    line-height: 50px;
    border-bottom: 5px solid white;
    border-width: 3px ;
    user-select: none;
}
label,h3{
    user-select: none;
}
h3{
    margin-bottom: 5px;
}
input[type="text"]{
  background: none;
  height: max-content;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}
.policy_data{
    display: flex;
}
input[type="checkbox"]{
    accent-color: rgb(80, 177, 80);
}
.buttons{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="submit"],input[type="button"]{
    width:80px;
    height: 30px;
    padding:5px 10px;
    border:none;
    background: #f64c72;
    color: white;
    border-radius: 5px;
    outline: none;

}
input[type="submit"]:hover,input[type="button"]:hover{
    border: 1px dashed white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;


}
a{
    text-decoration: none;
    color: lightcyan;
}
*{
    color: wheat;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    overflow: hidden;
    background:url(https://images.unsplash.com/photo-1569242840510-9fe6f0112cee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGluZGlhbiUyMGFybXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
::placeholder,::placeholder:hover{
    color: whitesmoke;
    outline: 1px solid green;
}
